* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff3f2;
}

.info {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 8%;
}

.main-logo {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center
    /* display: flex;
    flex-direction: row;
    margin-left: 45%; */
}

.vk-logo {
    display: block;
    width: 4em;
    height: 4em;
    margin-right: 10px;
    /* margin-top: 15px; */
}

.tg-logo {
    display: block;
    width: 6em;
    height: 6em;
    margin-right: 10px;
}

.insta-logo {
    display: block;
    width: 4em;
    height: 4em;
}

.coding-logo {
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 150px;
    height: 150px;
}